#gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}

body {
    background-color: black;
}

#gallery img {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(163, 29, 29, 0.1);
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#gallery img.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 10000;
    cursor: pointer;
}


#overlay {
  position: fixed;      /* Über den ganzen Bildschirm */
  top: 0;
  left: 0;
  width: 100vw;         /* volle Breite */
  height: 100vh;        /* volle Höhe */
  background-color: rgba(0, 0, 0, 0.6); /* halbtransparentes Schwarz */
  z-index: 9998;        /* sehr hoch, damit es über allem liegt */
  display: none;        /* standardmäßig versteckt */
}



@media (max-width: 600px) {
    #gallery img {
        width: 200px;
    }

    #gallery img.zoomed {

        transform: translate(-50%, -50%) scale(2.3);

    }
}