/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  color: rgb(255, 255, 255);
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0rem 2rem;
  flex-wrap: nowrap;

  box-sizing: border-box;
  border-bottom: none;
  box-shadow: 0 1px 10px rgb(104, 101, 101);
  transition: background-color 0.3s ease;
}

.navbar--transparent {
  background-color: transparent;
  box-shadow: none;
}



/* MENU */
.navbar-menu {
  list-style: none;
  overflow: hidden;
  max-height: 0;
  position: fixed;
  top: 80px;
  left: 50%;
  width: 100vw;
  height: auto;
  max-height: 80vh;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 10px 10px;
  display: none;
  flex-direction: column;

  z-index: 1100;
  text-align: center;
}



.navbar-menu li a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
  gap: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.navbar-menu li a:hover {
  background-color: #FFFFFF;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  color: black;
}




.navbar-menu.active {
  display: flex;
}




.burger {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  transform: translateX(-100px);
}

.navbar-right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
}

/* Icons left navbar */

.logo-container a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.metelogo {
  width: 80px;
  height: auto;
  filter: brightness(0) invert(1)
}


.fblogo {
  width: 24px;
  height: auto;
}

.instalogo {
  width: 24px;
  height: auto;
}


.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.logo.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.logo img {
  height: 175px;
  object-fit: contain;
}


@media (max-width: 700px) {
  .burger {
    transform: none;
    margin-right: 1.5rem;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%, 50%);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .logo.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .logo img {
    height: 100px;
    object-fit: contain;
  }


  .metelogo {
    width: 40px;
    height: auto;
    filter: brightness(0) invert(1)
  }


  .fblogo {
    width: 18px;
    height: auto;
  }

  .instalogo {
    width: 18px;
    height: auto;
  }

}


/* Mitte linie */

/* .navbar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background: rgba(255,0,0,0.5); 
  pointer-events: none;
  z-index: 9999;
} */